* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --primary-color: #3659e3;
    --primary-hover: #304fc9;
    --background-color: #f8f7fa;
    --card-bg: #fff;
    --text-color: #585163; 
    --text-label: #6f7287;
    --input-border: #a9a8b3;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    --focus-shadow: rgba(54, 89, 227, 0.2); 
    --error-color: #d1410c; 
    --error-color-two: #964021;
}

body {
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
}

.Formulaio {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

#meubotao {
    background-color: var(--error-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

#meubotao:hover {
    background-color: var(--error-color-two);
}

.main-div {
    margin-top: 20px;
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-div div {
    display: flex;
    flex-direction: column;
}

.main-div p {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#meubotao {
    background-color: var(--text-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

#meubotao:hover {
    background-color: var(--error-color-two);
}